<div class="container mt-5">
    <h2 class="text-center">Top Rated Products</h2>
</div>

<div class="container-fluid mt-5">
        <div class="row">
           <div class="col-md col-sm-6">
               <div class="card" style="width: 18rem;">
                   <img src="../../assets/images/jewellery-set.jpg" class="card-img-top" alt="jewellery sets">
                   <div class="card-body">
                     <h5 class="card-title">jewellery Sets</h5>
                     <p class="price-text">$100</p>
                     <a href="#" class="btn btn-primary">Buy Now</a>
                   </div>
               </div>
           </div>
           <div class="col-md col-sm-6">
               <div class="card" style="width: 18rem;">
                   <img src="../../assets/images/earring.jpg" class="card-img-top" alt="Earrings">
                   <div class="card-body">
                     <h5 class="card-title text-center">Earrings</h5>
                   </div>
               </div>
           </div>
           <div class="col-md col-sm-6">
               <div class="card" style="width: 18rem;">
                   <img src="../../assets/images/bracelet.jpg" class="card-img-top" alt="bracelet/Kada">
                   <div class="card-body">
                     <h5 class="card-title text-center">bracelet/Kada</h5>
                   </div>
               </div>
           </div>
           <div class="col-md col-sm-6">
               <div class="card" style="width: 18rem;">
                   <img src="../../assets/images/pendant.jpg" class="card-img-top" alt="pendant">
                   <div class="card-body">
                     <h5 class="card-title text-center">Pendant</h5>
                   </div>
               </div>
           </div>
         </div>
   </div>
